#container{
  padding: 16px;
}

li{
  margin-bottom: 8px;
}

.delete-button{
  margin-left: 16px;
    background-color: red;
    color: white;
    border: none;
}

.delete-button:hover {
    background-color: darkred;
}
